# Route all API requests within /api/ to index.php
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Pass Authorization headers
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  RewriteCond %{HTTP:X-Authorization} .
  RewriteRule .* - [E=HTTP_X_AUTHORIZATION:%{HTTP:X-Authorization}]
  RewriteCond %{HTTP:X-Firebase-Token} .
  RewriteRule .* - [E=HTTP_X_FIREBASE_TOKEN:%{HTTP:X-Firebase-Token}]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
